replicaCount: 3

image:
  repository: my-nodejs-app
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: NodePort
  port: 8080
  targetPort: 3000
  nodePort: 30008

serviceAccount:
  create: true
  name: ""

ingress:
  enabled: false
  annotations: {}
  hosts: []
  tls: []

httpRoute:
  enabled: false
  hosts: []
  gateways: []
  rules: []

autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
