name: Release Web Application

on:
  push:
    tags:
      - 'v*.*.*'
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to release'
        required: true
        default: 'v1.0.0'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build Docker image
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository }}/nodejs-app:${{ github.ref_name }}
          docker build -t $IMAGE_NAME .

      - name: Push Docker image
        run: |
          IMAGE_NAME=ghcr.io/${{ github.repository }}/nodejs-app:${{ github.ref_name }}
          docker push $IMAGE_NAME

      - name: Set up Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.15.0

      - name: Upgrade Helm release
        run: |
          helm upgrade my-release ./nodejs-app \
            --set image.repository=ghcr.io/${{ github.repository }}/nodejs-app \
            --set image.tag=${{ github.ref_name }} \
            --install
